@import './null.css';
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');

:root 
{
  --bg_color: #1A1C1C;
  --bg_color_tasks: #262E2F;
  --font_main_color: #91D2D5;
  --font_main: 'Roboto Mono', monospace;
  --font_main2: 'Bai Jamjuree', sans-serif;
  --link_font_color: #E2E2E2;
  --hover_bg_task: #354042;
  --hover_color_task: #9fe6e9;
} 

body {
  /* font-family: var(--font_main); */
  font-family: var(--font_main2);
  background: var(--bg_color);
  color: var(--font_main_color);
  padding: 20px;
  line-height: 1.1;
  height: 100vh;
}


.wrapper {
  max-width: 1440px;
  margin: 0px auto;
  height: 100%;
}

.container {
  padding: 20px;
}

.main_title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2.2px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.user_block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
}

.user_avatar  {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--bg_color_tasks)
}
.user_avatar img {
    width: 50px;
    height: 50px;
}

.user_title {
  font-size: 25px;
}

.tasks_list {
  display:flex;
  flex-direction: column;
  row-gap: 10px;
}

.task_block {
  /* background-color: var(--bg_color_tasks); */
  /* padding: 15px 10px; */
  max-width: 250px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid var(--hover_color_task);
  
  color: var(--font_main_color);
  transition-duration: 500ms;
}

.task_block:hover {
  /* background-color: var(--hover_bg_task); */
  transform: translate(10px, 0);
  /* scale: 109%; */
  /* border: none; */
}

.task_link{
  letter-spacing: 1px;
  display: block;
  padding: 15px 10px;
  color: var(--font_main_color);
  font-weight: bold;
}


