@import './null.css';


.wrapper {
  background-color: rgb(203, 203, 203);
  padding: 1rem 1rem;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 5px;
}

.title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.task_block {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #b3b0b0;
}

.task_counter {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  line-height: 1.1;
}

.task_text {
  margin-bottom: 10px;
}
p {
  line-height: 1.1;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  outline: 1px solid rgb(104, 76, 230);
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
}

input:focus {
  outline: 1px solid rgb(50, 255, 57);
}

button {
  background-color: #7950df;
  width: 25%;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: antiquewhite;
  font-weight: bold;
  letter-spacing: 2.5px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #6429fa;
  transition: easy;
  scale: 1.03;
}

.result1, .result2, .result5, .result8, .result9, .result10, .result12, .result13, .result14, .result15, .result16, .result17 {
  /* text-align: center; */
  padding: 10px 0;
  font-size: 18px;
  color: rgb(187, 43, 18);
  letter-spacing: 0.2px;
  font-weight: bold;
}

.product1, .product2{
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px
}

.priceProduct1, .quantityProduct1, .priceProduct2,
.quantityProduct2 {
  width: 50%;
}

tr, td, th, table {
  border: 1px solid #000;
  padding: 5px
}

table {
  width: 100%;
  margin: 0px auto;
}





