@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');
@import './null.css';

:root {
  --font_main: 'Roboto Mono', monospace;
  --font_main2: 'Bai Jamjuree', sans-serif;
  --bg_color: #1A1C1C;
  --bg_color_tasks: #262E2F;
  --font_main_color: #b2f0f4;
  --link_font_color: #E2E2E2;
  --hover_bg_task: #354042;
  --hover_color_task: #9fe6e9;
  --placeholder_bg_color: #24252C;
  --placeholder_color: #A7A8AB;
  --result_color:  rgb(56, 232, 220);
  --result-green-color: #48e055;
}

body {
  font-family: var(--font_main2);
  /* background: var(--bg_color); */
  background: url('../img/background.webp');
  background-attachment: fixed;
  background-position: center;
  color: var(--font_main_color);
  padding: 20px;
  line-height: 1.1;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  outline: 1px solid var(--bg_color_tasks);
  padding: 7px;
  margin-bottom: 10px;
  width: 100%;
  background-color: var(--placeholder_bg_color);
  border-radius: 10px;
  color: var(--font_main_color);
  font-size: 18px;

}

input::placeholder {
  color: var(--placeholder_color);
  /* padding-left: 10px; */
  margin-left: 10px;

}

input:focus {
  outline: 1px solid var(--hover_color_task);
}

button {
  background-color: var(--font_main_color);
  width: 25%;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--bg_color_tasks);
  font-weight: bold;
  letter-spacing: 2.5px;
  margin: 10px 0;
}

button:hover {
  background-color: var(--hover_color_task);
  transition-duration: 500ms;
  scale: 1.02;
}

tr,
td,
th {
  border: 1px solid #000;
  padding: 5px;
}

table {
  width: 50%;
  margin: 0px auto;

}

.table_border {
  border: 1px solid #000;
}

hr {
  border: 1px solid var(--bg_color);
  margin: 5px 0;
}

.wrapper {
  max-width: 800px;
  margin: 0px auto;
  height: 100%;
}

.container {
  padding: 20px;
}

.input_list {
  /* display: flex; */
  width: 100%;
  gap:15px;
}

.input_label {
  width: 100%;
  padding: 7px;
  font-size: 18px;
  text-align: center;
}

/* ============ Title =========== */

.title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2.2px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.subtitle{
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.subtitle_addit {
  margin: 15px 0;
  font-size: 20px;
  text-transform: uppercase;
}
/* ============ User info and icon =========== */

.user_title {
  font-size: 25px;
}
.user_block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 35px;
}

.user_avatar {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--bg_color_tasks)
}

.user_avatar img {
  width: 50px;
  height: 50px;
}

/* ============ Tasks list =========== */

.task_block {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: var(--hover_bg_task);

}

.task_counter {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
  line-height: 1.1;
  padding-left: 5px;
}

.task_text {
  padding-left: 5px;
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--font_main_color);
  line-height: 1.2;
}

.result {
  font-weight: bold;
  padding: 10px 0;
  color: var(--result_color);
  text-align: center;

}
.green-color-result {
  color: var(--result-green-color);
}

/* ==========  Task 0 ========== */

.result1 {
  font-size: 30px;
}

/* ==========  Task 1 ========== */

.result2, .result3 {
  font-size: 30px;
}

/* ==========  Task 3 ========== */
.task3 {
  display: flex;
}

.result4 {
  text-align: start;
  font-size: 20px;
}

.result5{
  text-align: start;
  font-size: 25px;
}

.result6 {
  text-align: start;
  font-size: 25px;
}

/* ==========  Task 7 ========== */

.result8 img {
  max-width: 200px;
  max-height: 300px;
  border-radius: 10px;
}
/* ==========  Task 8 ========== */

.result9 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner_box {
  cursor: pointer;
  background: var(--placeholder_bg_color);
  width: fit-content;
  border-radius: 10px;
}

.banner_title{
  font-size: 30px;
}

.banner_image {
  max-width: 300px;
  border-radius: 10px;
  
}

label {
  padding-left: 8px;
  margin-bottom: 3px;
  display: block;
}


.result10 {
  font-size: 25px;
}